<div class="flex">
    <aside>
        <!--formulario-->
        <div>
            <label for="titulo">Título</label>
            <input type="text" id="titulo" [(ngModel)]="newNoticia.titulo">
        </div>
        <div>
            <label for="imagen">Imagen</label>
            <input type="text" id="imagen" [(ngModel)]="newNoticia.image">
        </div>
        <div>
            <label for="body">Cuerpo noticia</label>
            <textarea id="body" cols="30" rows="10"[(ngModel)]="newNoticia.body"></textarea>
        </div>
        <div>
            <label for="fecha">Fecha de publicación</label>
            <input type="date" id="fecha" [(ngModel)]="newNoticia.date">
        </div>
        <button class="btn" (click)="getDataNew()">Enviar</button>
    </aside>
    <section>
        <!--listado-->
        <h2>Listado de noticias</h2>
        <hr>
        <div class="row" [innerHTML]="getNoticias()">
            
        </div>
    </section>
</div>